In [33]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

In [24]:
import matplotlib.pyplot as plt
import pandas as pd
import joblib

In [25]:
df = pd.read_csv("../data/processed/churn_cleaned.csv")
X = pd.read_csv("../data/processed/X.csv")
y = pd.read_csv("../data/processed/y.csv")

In [26]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [27]:
X

     Age  Gender  Tenure  MonthlyCharges
0     49       0       4           88.35
1     43       0       0           36.67
2     51       1       2           63.79
3     60       1       8          102.34
4     42       0      32           69.01
..   ...     ...     ...             ...
995   42       0      41           37.14
996   62       0       9           80.93
997   51       1      15          111.72
998   39       0      68           65.67
999   50       0       1           56.67

[1000 rows x 4 columns]

In [28]:
scaler= StandardScaler()

In [29]:
X_train = scaler.fit_transform(X_train)

In [30]:
joblib.dump(scaler,"scaler.pkl")

['scaler.pkl']

In [31]:
X_test = scaler.fit_transform(X_test)

In [32]:
def modelperformance(predictions):
    print("Accuracy score on model is {}".format(accuracy_score(y_test,predictions)))